@use '../../styles/vars' as *;

.features-wrapper {
    background: linear-gradient(180deg, #ffebdc, #ffeddf, #ffefe2, #fff0e5, #fff2e9, #fff4ec, #fff6ef, #fff8f2, #fffaf5, #fffbf9, #fffdfc, #ffffff);
}

// feature section
.features__section {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

// description block
.features__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 50px;
}

// illustration
.features__description-img {
    width: 33.333%;
    transform: translate3d(0, 50%, 0);
    opacity: 0;
    transition: $transition;
}

// name and description
.features__description-text {
    .subheading {
        margin-bottom: 50px;
    }
}

// list of the features
.features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// feature icon
.features__list-item__icon {
    width: fit-content;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 16px;
    color: $red;
    background-color: rgba($red, 0.1);

    svg {
        width: 50px;
    }
}

// feature title
.features__list-item--title {
    margin-bottom: 10px;
    color: $black;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    // limit the text height
    display: -webkit-box;
    -webkit-line-clamp: 1; // number of lines to show
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

// feature description
.features__list-item .paragraph {
    max-width: 75%;
}

// alternative section styles
.features__section--alt {
    // description block
    .features__description {
        flex-direction: row-reverse;
    }

    // feature icon
    .features__list-item__icon {
        color: $orange;
        background-color: rgba($orange, 0.1);
    }
}

// screen adaptation
@media (max-width: $lg) {
    // illustration
    .features__description-img {
        width: 50%;
    }
}

// tablet
@media (max-width: $md) {
    // description block
    .features__description {
        flex-direction: column-reverse !important;
        gap: 25px;
        margin-bottom: 25px;
    }

    // illustration
    .features__description-img {
        width: 75%;
    }

    // name and description
    .features__description-text {
        .subheading {
            margin-bottom: 25px;
        }

        // Learn More link
        .btn {
            margin: 0 auto;
        }
    }

    // list of the features
    .features__list {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .features__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

// phone
@media (max-width: $sm) {
    // illustration
    .features__description-img {
        width: 100%;
    }
}
