@use '../../styles/vars' as *;

.partners {
    background-color: #ffebdc;
    position: relative;
    z-index: 1;
}

// wrapper for the logotypes
.partners__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 80px;

    // show the logotypes
    &.partners--active {
        .partners__logo {
            animation-name: showLogo;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

// logotype
.partners__logo {
    opacity: 0;
}

// sass loop
@for $i from 2 through 5 {
    .partners__logo:nth-child(#{$i}) {
        animation-delay: calc($i * 0.1s);
    }
}

// animation
@keyframes showLogo {
    to {
        opacity: 1;
    }
}

// screen adaptation
@media (max-width: $lg) {
    // wrapper for the logotypes
    .partners__wrapper {
        gap: 40px;
    }
}

// tablet
@media (max-width: $md) {
    // wrapper for the logotypes
    .partners__wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    // logotype
    .partners__logo {
        width: 150px;
        margin: 0 auto;
    }
}
