@use '../../styles/vars' as *;

// illustration wrapper
.illustration-wrapper {
    flex-shrink: 0;
    width: calc(50% - 50px);
    position: relative;

    img {
        display: block;
    }
}

// main image
.illustration {
    position: relative;
    z-index: 1;
}

// stars
.illustration__star {
    animation: starAnim infinite ease-in-out;
    position: absolute;
    z-index: 2;

    &.illustration__star--lg {
        width: 20px;
        animation-duration: 10s;
        top: 20px;
        left: 20px;
    }

    &.illustration__star--sm {
        width: 10px;
        animation-duration: 5s;
        animation-delay: 2s;
        top: 10px;
        left: 60%;
    }
}

// stars animation
@keyframes starAnim {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

// screen adaptation
// tablet
@media (max-width: $md) {
    // illustration wrapper
    .illustration-wrapper {
        width: 75%;
    }
}

// mobile
@media (max-width: $sm) {
    // illustration wrapper
    .illustration-wrapper {
        width: 100%;
    }
}
