@use '../../styles/vars' as *;

// background
.banner {
    background: linear-gradient(to left, #ffebdc, #ffeddf, #ffefe2, #fff0e5, #fff2e9, #fff4ec, #fff6ef, #fff8f2, #fffaf5, #fffbf9, #fffdfc, #ffffff);
}

// content
.banner__inner {
    display: flex;
    align-items: center;
    gap: 100px;
}

// screen adaptation
// tablet
@media (max-width: $md) {
    // content
    .banner__inner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    // title and link
    .banner__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
