// screen sizes
$lg: 1024px;
$md: 768px;
$sm: 576px;

// colors
$black: #353738;
$white: #ffffff;
$grey: #5e6163;
$grey-dark: #4b4d4f;
$purple: #5022e2;
$orange: #fe9a52;
$red: #fd5d4e;

// fonts
$montserrat: 'Montserrat', sans-serif;
$exo2: 'Exo 2', sans-serif;

// other
$transition: 0.25s ease-out;
