// variables
@use './_vars' as *;
// components
@use './typography.scss';
@use '../components/button/button.scss';

*,
*::before,
*::after {
    // reset default styles
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    // set common styles
    color: inherit;
    font-size: 16px;
    font-family: $exo2;
    line-height: 150%;
    text-wrap: balance;
}

// color of the selected text
::selection {
    color: $white;
    background-color: $purple;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $white;
}

.section {
    padding: 100px 0;
}

// main size container
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

// screen adaptation
@media (max-width: $lg) {
}

// tablets
@media (max-width: $md) {
    .section {
        padding: 50px 0;
    }
}

// mobile phones
@media (max-width: $sm) {
}
