@use './_vars' as *;

// title
.title {
    max-width: 650px;
    margin-bottom: 25px;
    color: $black;
    font-size: 36px;
    font-weight: bold;
    line-height: 120%;
    text-align: left;

    // modificators
    // <h1>
    &.title--main {
        font-size: 42px;
    }

    // purple
    &.title--alt {
        color: $purple;
    }

    // centered
    &.title--center {
        max-width: none;
        margin-bottom: 50px;
        text-align: center;
    }

    // small
    &.title--sm {
        margin-bottom: 0;
        font-size: 18px;
    }
}

// text above the title
.title-caption {
    color: $purple;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;

    // purple text
    &.title-caption--alt {
        color: $grey;
    }

    // centered
    &.title-caption--center {
        text-align: center;
    }
}

// text below the title
.subheading {
    max-width: 550px;
}

// default paragraph
.paragraph {
    color: $black;
    font-family: $montserrat;
    font-size: 16px;

    &.paragraph--sm {
        font-size: 14px;
    }
}

// screen adaptation
// tablet
@media (max-width: $md) {
    // title
    .title {
        font-size: 30px;
        text-align: center;

        // modificators
        // <h1>
        &.title--main {
            font-size: 36px;
        }

        // small
        &.title--sm {
            text-align: left;
        }
    }

    // text above the title
    .title-caption {
        text-align: center;
    }

    // text below the title
    .subheading {
        margin: 0 auto;
        text-align: center;
    }
}
