<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collab</title>
    <meta name="description" content="Collab - The platform for a better cooperation. Personal portfolio project. Type - landing page. Developed by Dmytro Ruptash.">
    <!-- loading screen styles -->
    <%= require('html-loader!../../sections/LoadingScreen/LoadingScreenStyles.html').default %>
</head>

<body>
    <!-- show the loading screen while the page is loading -->
    <%= require('html-loader!../../sections/LoadingScreen/LoadingScreen.html').default %>
    <!-- website content -->
    <%= require('html-loader!../../sections/Header/Header.html').default %>
    <main class="main">
        <%= require('html-loader!../../sections/Intro/Intro.html').default %>
        <%= require('html-loader!../../sections/Partners/Partners.html').default %>
        <%= require('html-loader!../../sections/Features/Features.html').default %>
        <%= require('html-loader!../../sections/Testimonials/Testimonials.html').default %>
        <%= require('html-loader!../../sections/Banner/Banner.html').default %>
        <%= require('html-loader!../../sections/Faq/Faq.html').default %>
    </main>
    <%= require('html-loader!../../sections/Footer/Footer.html').default %>
</body>

</html>