@use '../../styles/vars' as *;

.header {
    background-color: $white;
    transition: $transition;
    transition-property: transform;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    // the bottom border
    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #fe9a52, #ff7b52, #ff565d, #ff2470, #f40089, #d800a7, #a900c6, #5022e2);
        position: absolute;
        bottom: -2px;
        z-index: 1;
    }
}

// content
.header__inner {
    display: flex;
    align-items: start;
    column-gap: 30px;
    padding: 10px 0;
    background-color: $white;
}

// logotype
.header__logo {
    img {
        display: block;
        height: 44px;
    }
}

// <nav>
.header__nav {
    margin-left: auto;
}

// <ul> list of the links
.header__nav-list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
}

// <a> navigation link
.header__nav-link {
    display: block;
    padding: 10px 20px;
    color: $purple;
    border-radius: 4px;
    font-weight: bold;
    transition: $transition;
    transition-property: background-color, transform;
    outline: none;

    // active state
    &:hover,
    &:focus {
        background-color: rgba($orange, 0.25);
    }

    &:active {
        transform: scale(0.96);
    }
}

// show/hide navigation
.header__nav-menu-btn {
    display: none;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: $transition;
    transition-property: background-color;
    -webkit-tap-highlight-color: transparent;

    // icon
    svg {
        display: block;
        width: 32px;
        stroke: $purple;
    }

    // active state
    &:hover,
    &:focus {
        background-color: rgba($orange, 0.25);
    }
}

// download button (small screens)
.header__download-sm-btn {
    display: none;
}

// screen adaptation
// tablet
@media (max-width: $md) {
    .header {
        // the bottom border
        &::after {
            top: 62px;
            bottom: auto;
        }
    }

    // content
    .header__inner {
        column-gap: 15px;
    }

    // logotype
    .header__logo {
        img {
            height: 42px;
        }
    }

    // <nav>
    .header__nav {
        padding: 10px 20px 30px;
        background-color: $white;
        transform: translate3d(100%, 0, 0);
        transition: $transition;
        visibility: hidden;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        // shown navigation
        &.header__nav--active {
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        // the bottom border
        &::after {
            content: '';
            height: 2px;
            background: linear-gradient(90deg, #fe9a52, #ff7b52, #ff565d, #ff2470, #f40089, #d800a7, #a900c6, #5022e2);
            position: absolute;
            top: 62px;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }

    // <ul> list of the links
    .header__nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    // <a> navigation link
    .header__nav-link {
        padding: 5px 10px;
    }

    // show/hide navigation
    .header__nav-menu-btn {
        display: block;
    }

    // hide the navigation button
    .header__nav-menu-btn--hide {
        margin: 0 0 150px auto;
    }

    // download button (small screens)
    .header__download-sm-btn {
        display: block;
        margin-left: auto;
        padding: 10px;
        border-radius: 50px;

        // icon
        svg {
            width: 22px;
        }
    }
}
